---
title: About Us
desc: We're a friendly and caring bunch of people. You can learn more about that and our ethos here, including how we operate and take on work to the best of our ability
---

<div class="row">
	<div class="fade col l8 m8 s12">
		<h2>Our Values</h2>
		<p>We hold our customer service to the highest standard and we're constantly testing and improving our workflow. This is why we don't just create top-end websites. We create relationships. Because there's nothing more important than our customers feeling good, we also offer a completely free lifetime website care package to our customers for peace of mind. This means any and all websites from us will include website-related tech support and any adjustments needed to keep you and your website happy.</p>   
	</div>
</div>
<div class="row">
	<div class="fade right col l8 m8 s12">
		<h2>Our History</h2>
		<p>Originally based in Nottingham, we started out as a hobby. Giving 100% at all times, we realised that people needed our products and good customer service. Once we started growing, we moved to London and started an amazing mission to transform the internet for the better</p> 
	</div>
</div>

<script type="text/javascript">
	$(window).on("load",function() {
		function fade() {
			var animation_height = $(window).innerHeight() * 0.25;
			var ratio = Math.round( (1 / animation_height) * 10000 ) / 10000;

			$('.fade').each(function() {

				var objectTop = $(this).offset().top;
				var windowBottom = $(window).scrollTop() + $(window).innerHeight();

				if ( objectTop < windowBottom ) {
					if ( objectTop < windowBottom - animation_height ) {
						$(this).css( {
							transition: 'opacity 0.1s linear',
							opacity: 1
						} );

					} else {
						$(this).css( {
							transition: 'opacity 0.25s linear',
							opacity: (windowBottom - objectTop) * ratio
						} );
					}
				} else {
					$(this).css( 'opacity', 0 );
				}
			});
		}
		$('.fade').css( 'opacity', 0 );
		fade();
		$(window).scroll(function() {fade();});
	});
</script>