---
title: get in touch
desc: This is where you can email or call for a demo, a quote, or a general question about our services
---

<div class="row">
    <div class="col l6 m12 s12">
        <h4>Email</h4>
        <p>Currently, we can only be emailed at <a href="mailto:rhystoco@gmail.com?subject=email%20from%20TFD%20website">rhystoco@gmail.com</a>, but we will answer your query ASAP.</p>
    </div>
    <div class="col l6 m12 s12">
        <h4>Social sites</h4>
        <p>We can be found on a range of social platforms and services, as seen below. If you want to keep up with news, offers, or general information about TFD, then go ahead and follow us.</p>
        <div class="collection" id="socialLinks">
        </div>
    </div>
</div>

<script>
    $('#socialLinks').load('/ #socialLinks a')
</script>