---
title: Home
desc: Welcome, and thanks for visiting! Here at the fancy dev we take web development seriously, meaning you get the best product at the best price. Using our combined experience, dedication, and pride in outstanding skills, we always deliver exactly what you want, with a few bells and whistles extra.
---

<div class="row">
    <div class="col l6 s12 m12">
        <h4>Links</h4>
        <div class="collection" id="socialLinks">
            <a href="#" class="collection-item"><i class="fa fa-fonticons fa-fw"></i>Fiverr</a>
            <a href="#" class="collection-item"><i class="fa fa-facebook-official fa-fw"></i>Facebook</a>
            <a href="#" class="collection-item"><i class="fa fa-linkedin-square fa-fw"></i>LinkedIn</a>
            <a href="#" class="collection-item"><i class="fa fa-gitlab fa-fw"></i>GitLab</a>
            <a href="#" class="collection-item"><i class="fa fa-stack-overflow fa-fw"></i>Stack Overflow</a>
        </div>
    </div>
    <div class="col l6 s12 m12">
        <!-- <h4>Blog</h4>
        <div class="collection">
            <% sorted_articles.first(5).each do |post| %>
                <%= link_to(post[:title], post.path, :class => 'collection-item') %>
            <% end %>
        </div> -->
        <h4>News</h4>
        <div class="collection">
            <script id="feed-1476967038680304" type="text/javascript" src="https://rss.bloople.net/?url=https%3A%2F%2Fwww.cnet.com%2Frss%2Fnews%2F&limit=5&showtitle=false&showempty=true&type=js&id=1476967038680304"></script>
        </div>
    </div>  
</div>

<script>
    $('.feed-item-title').each(function(){
        $(this).children().first().addClass('collection-item');
        
        $(this).children().first().text(function(idx,oldText){
            return oldText.replace(' - CNET', '')
        });
        
        $(this).replaceWith($(this).html());
    })
    
    $('.feed-item-desc').remove();
    
    $('.rss2html-note').remove();
</script>