---
title: Services
desc: Here, you can find a simple rundown of our services and a rough quote for what kind of website you might be wanting. These websites however, are not lacking in quality or craftsmanship. The extra features are outlined below.
---

<div class="row hide-on-med-and-down">
	<div class="col l6 m12 s12">
		<h4>Services</h4>
		<div class="collection" id="serviceSelectionList">
			<% get_services().each_with_index do |service, index| %>
				<%= link_to service["Name"], '#', {:class => 'collection-item', :id => 'service' + index.to_s} %>
			<% end %>
		</div>
	</div>
	<div class="col l6 m12 s12" id="serviceInfoScreen">
		<!-- this is basically the list of products. Same setup as tabs, just left to right instead -->
		<% get_services().each_with_index do |service, index| %>
			<div class="hidden">
				<h4><%= service["Name"] %></h4>
				<p><%= service["Desc"] %> This service comes in at roughly <%= service["Rough"] %></p>
			</div>
		<% end %>
	</div>
</div>
<div class="row hide-on-large-only">
	<ul class="collapsible">
		<% get_services().each do |service| %>
			<li>
				<div class="collapsible-header"><%= service["Name"] %></div>
				<div class="smallServiceDesc collapsible-body"><%= service["Desc"] %> This service comes in at roughly <%= service["Rough"] %></div>
			</li>
		<% end %>
	</ul>
<!-- 	<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul> -->
</div>
<!-- <div class="row show-on-medium-and-down">
	<ul class="collapsible">
		<li>
			<div class="collapsible-header">
				to fix display issues on mobile and tablet
		</li>
	</ul>
</div> -->

<script>
	$('#serviceInfoScreen div.hidden').each(function(index){
		var div = $(this); //sets up id match on selection and info
		$(div).attr('id', 'info' + index);
	})

	$('#serviceSelectionList a').click(function(){
		var selection = $(this);
		var selectionNum = $(selection).attr('id').replace('service', '');

		var infoId = "info" + selectionNum;

		$("#serviceInfoScreen div:not(.hidden)").first().addClass("hidden"); //just reset it so one dissapears when one appears

		$("#serviceInfoScreen #" + infoId).removeClass("hidden");
	})
</script>