<% render '/root.*' do %>
<div class="left-align" style="padding-left: 20px;">
    <h2><%= @item[:title] %></h2>
    <p class="smallServiceDesc"><%= @item[:desc] %></p> <!-- just a simple way to ensure neat formatting across the board -->
</div>
<div id="main" class="container">
    <br />
    <%= yield %>
</div>
<% end %>