<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>The Fancy Dev - <%= @item[:title] %></title>
    <link rel="shortcut icon" href="/assets/images/icon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/assets/SCSS/materialize.css">
    <link rel="stylesheet" href="/assets/SCSS/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- #CBA to implement locally -->
    
    <script src="/assets/JS/jquery.js"></script>
    <script src="/assets/JS/materialize.js"></script>
    <!-- <script src="/assets/JS/konami.js"></script> here for future easter eggs? -->

    <!--<script src="/assets/JS/snowstorm.js"></script>-->
    
    <meta name="description" content="A proper website for a proper website developer.">
    <meta name="author" content="Rhys O'Connor">
    <meta charset="UTF-8">
    <!-- just included for Bing etc. -->
    <meta name="keywords" content="web dev,the fancy web dev,proper web development,proper websites,websites,cheap websites">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper black lighten-2 z-depth-5">
                <a href="/" class="brand-logo hide-on-med-and-down"><i class="fa fa-black-tie"></i> The Fancy Dev</a>
                <a href="/" class="brand-logo right hide-on-large-only hide-on-small-only"><i class="fa fa-black-tie"></i> The Fancy Dev</a> <!-- fixes text overlay issue -->
                <a href="/" class="brand-logo right hide-on-med-and-up"><i class="fa fa-black-tie sm"></i></a>
                <a href="#" data-activates="sidenav" class="button-collapse"><i class="fa fa-bars fa-fw" style="font-size: 24px;"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
                <ul class="side-nav" id="sidenav">
                    <li><a class="waves-effect waves-ripple waves-orange" href="/contact">Contact</a></li>
                    <li><a class="waves-effect waves-ripple waves-green" href="/services">Services</a></li>
                    <li><a class="waves-effect waves-ripple waves-purple" href="/about">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="yieldContent">
        <%= yield %>
    </div>
    
<script>
    $(".button-collapse").sideNav();
</script>
<script>
		//snowStorm.autoStart = true;
		//snowStorm.snowColor = '#4db6ac';
		//snowStorm.autoStart = false;
</script>
</body>
</html>
