/*
 * just somewhere to put all
 * my styles, in case Phil
 * has a look at the inline
 * style attributes. He doesn't
 * like inline style attributes...
 */

html, body {
    height: 100%; //just a fix for the incredibly annoying 100% measurement. Ah, I love CSS.
}

img {
  &.icon {
    vertical-align: middle;
    margin-bottom: 10px;
  }
   
  &.postimage {
    height: 150px;
   
    &.left {
      float: left;
     }
   
    &.right {
      float: right;
     }
   
    &.expand {
      transition: all .2s ease-in-out;
     
      &:hover {
        transform: scale(1.1);  
       }
     }
   }
}

.wraptocenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.smallServiceDesc {
  padding-left: 10%;
  padding-right: 10%;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
/** Usage css **/
.fadeIn {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; /* Fading effect takes 1 second */
}

.fadeOut {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}